*,
*::before,
*::after{
   
   margin:  0px;
   padding: 0px;
   box-sizing: border-box;

}

/*HEADER*/
/* Section Hero */
.hero_wrap {
  position : relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
 
  opacity:1;
  z-index: -1; 
}

.title-hero{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items : center;
 
}

.portfolio{
  position: absolute;
  top:5%;
  letter-spacing: 2px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;

}

/*
@keyframes noiseAnimation {
  0% { filter: contrast(200%) brightness(1); transform: scale(1.02); }
  50% { filter: contrast(220%) brightness(1.1); transform: scale(1); }
  100% { filter: contrast(200%) brightness(1); transform: scale(1.02); }
}*/

.noise-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: url('/images/noise.png');
  opacity: 0.8;
  animation:  noiseAnimation 8s infinite alternate ease-in-out;
  
}


/*ABOUT*/ 

.section-about{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
}

.sym-life{
  display:flex;
  justify-content: center;
  align-item: center;
  
}

.wrapper_text{
   display:flex;
   flex-direction:column;
   justify-content: center;
   text-align: center;
   margin: auto;
   width: 100%;
   line-height: 1.8;
}

img{
  width: 30%;
  height: auto; 
}

.circle{
   display: block;
   width:100%;
   height: 500px;
   border-radius: 100%;
   background-color:#E7DED4;
   display:flex;
   justify-content: center;
   align-item: center;
   position: absolute;
}
























/*Media queries */

/* Pour les tablettes */
@media (min-width: 600px) and (max-width: 900px) {
  .hero_wrap {
    flex-direction: column; /* On met la hero section en colonne pour plus d'espace */
    padding: 30px;
  }

  .hero_wrap h1 {
    font-size: 3rem; /* Un peu plus grand que sur mobile */
  }

  .hero_wrap .model {
    max-width: 80%; /* Un peu plus grand que sur mobile */
  }
}

/* desktop*/

@media (min-width: 900px) {
  .hero_wrap {
    display:flex;
    height: 100vh;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero_wrap h1 {
    font-size: 4rem;
  }

  .hero_wrap .model {
    max-width: 50%;
  }
}